@font-face{
    font-family: segan;
    src: url('segan_light.woff');
    src: url('segan_light.ttf');
}

.segan{
    font-family: segan, sans-serif;
}

.minitext {
   height:23px !important;
}

.minifont {
    font-size: 0.9em;
}

td{
    font-size: 0.9em;
}

th{
    font-size: 0.9em;
}