.testred{
    background-color: red;
}
.testgreen{
    background-color: green;
}
.testblue{
    background-color: blue;
}
.testyellow{
    background-color: yellow;
}
.testviolet{
    background-color: violet;
}